.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 8px grey;
}

.button {
    display:flex;
    justify-content: center;
    height: 35px;
    width: 35px;
    align-items: center;
    color: white;
    background-color: white;
    outline: none;
    border-radius: 50%;
    border:none;
    box-shadow: inset 0 0 20px 10px #34eb6b;
    transition: .5s;
}
.button>h1{
    margin:0;
    padding-top: 4px;
    color:white;
    size: 50px;
    vertical-align: super;
}

.button:hover {
    background-color: #34eb6b;
    cursor:pointer;
    box-shadow: 0 0 7px 2px #34eb6b;
    transition: .5s;
}