.wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.cancelButton{
    display: flex;
    background-color: red;
    color: white;
    justify-content: center;
    align-items: center;
    transform:rotate(45deg);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;

}
.input{
    width: 100%;
}