.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 40px);
    margin: 0 0 0 10px;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.75);
}
.header{
    display:flex;
    width:100%;
    height:60px;
}
.headerElement{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.75);
}
.smallHeaderElement{
    width:30%;
    display:flex;
    align-items:center;
    justify-content: center;
    box-shadow: inset 0 0 15px 10px rgba(0, 0, 0, 0.75);
}
.body{
    display: flex;
    flex-direction: column;
    height: 440px;
    overflow-y: auto;
}
.body::-webkit-scrollbar {
    width: 2px;
}

.body::-webkit-scrollbar-track {
    background-color: gray;

}
/* Handle */
.body::-webkit-scrollbar-thumb {
    background: black;
    width: 20px;
}

.stringWrapper{
    display:flex;
    width:100%;
    height:50px;
    align-items: center;
}
.stringElement{
    display:flex;
    width:100%;
    height:40px;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.75);
}
.smallStringElement{
    display:flex;
    width:30%;
    height:40px;
}
.footer{
    display:flex;
    width:100%;
    height:60px;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 0.75);
}