.wrapper{
    display: flex;
    background-color: grey;
    width: 100%;
    height: 100vh;
}
.button{
    display: flex;
    width: 200px;
    height: 50px;
    justify-content: center;
    cursor: pointer;
    background-color: darkred;
    color: white;
    text-decoration-style: solid ;
    justify-self: flex-end;
}