.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.jointListWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.choosenWrapper {
    width: 40%;
    height: 100%;
}