.button{
    background-color: #41964a;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: .5s;
}
.button:hover{
    box-shadow: 0 0 20px #41964a;
    background-color: #49a353;
    cursor: pointer;
    transition: .25s;

}